* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

$background-color: #404040;
$accent-color: #ccad59;
$font-color: #fff;

$font-family-logo: 'Bebas Neue', cursive;
$font-family-body: 'Roboto', sans-serif;

@mixin flex($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction
}