@import "config";
@import "nav";
@import "banner";
@import "carousel";

* {
  border: 1px solid red;
}

body {
  font-family: $font-family-body;
  background: $background-color;
  color: $font-color;
  line-height: 1.5;
}

.container {
  width: 90%;
  margin: 0 auto;
}

header {
  font-family: $font-family-logo;
  background: $background-color;
  background-image: url(../img/bw-restaurant.jpeg);
  background-position: center;
  background-blend-mode: multiply;
  height: 100vh;
  @include flex(column);

  .scrolled {
    background-image: none;
  }

  img.logo-img {
    border: 1px solid red;
  }
}

section {
  min-height: 100vh;
  @include flex(column);

  &.inverse {
    background: $background-color;
    color: #fff;
  }
}
