@import "config";
@import "nav";
@import "banner";
@import "carousel";

body {
  font-family: $font-family-body;
  background: $background-color;
  color: $font-color;
  line-height: 1.5;
}

.container {
  width: 90%;
  margin: 0 auto;
}

header {
  font-family: $font-family-logo;
  background: $background-color;
  background-image: url(../img/bw-restaurant.jpeg);
  background-position: center;
  background-blend-mode: multiply;
  height: 100vh;
  @include flex(column);

  svg {
    width: 80px;
    fill: none;
    position: absolute;
    top: 39%;
    left: 11%;
    stroke: $accent-color;
    opacity: 75%;
    z-index: 0;

  }

  h1 {
    color: #fff;
    font-size: 4rem;
    z-index: 1;
    margin-left: 1em;

    span {
      color: $accent-color;
    }
  }
}

section {
  min-height: 100vh;
  @include flex(column);

  &.inverse {
    background: $background-color;
    color: #fff;
  }
}
