@import "config";

section.about{

    padding: 2em;
    text-align: left;

    h2 {
        margin-bottom: .5em;
    }
    
    .about-details {
        margin-top: 2em;

        h4 {
            font-size: 1.1em;
            font-weight: 700;
            margin: 0;
        }
    }
   

}

@media (min-width: 650px) {
    .about {
        display: flex;
        justify-content: space-between;
    }
    .about-details {
        width: 40%;
        margin-top: 2em;
    }
}