@import "config";

section.about{

    h2 {
        margin-bottom: .5em;
    }
    
    .about-details {
        margin-top: 2em;

        h4 {
            font-size: 1.1em;
            font-weight: 700;
            margin: 0;
        }
    }

    .map-container {
        width: 100%;
    }
   

}

@media (min-width: 650px) {
    .about {
        display: flex;
        justify-content: space-between;

        
    }
    .about-details {
        margin: 1em;
    }
}