.accordion {
  box-shadow: none;
  border: none;

  &-item {
      border: none;
      box-shadow: none;
  }

  &-collapse.collapse.show {
      border: none;

  }

  &-button.collapsed::after {
    color: white;
  }

  &-button:not(.collapsed) {
    border: none;
    background: $background-color;
    box-shadow: none;
  }

  &-button {
    background-color: $background-color;
    border: none;
    box-shadow: none;

    &:focus {
      box-shadow: none;
    }

    h3 {
      color: $dark-accent;
    }
  }

  &-body {
    background: $background-color;
    border: none;
    box-shadow: none;
  }
}
