.cart {
  @include modal-background;
  @include flex(column);

  &-header {
    @include unit-header;
  }
  

  &-container {
    @include modal-container;
    max-width: 500px;
    max-height: 80vh;
    background: white;
    color: black;
    overflow-y: auto;

    &-content {
      @include modal-content
    }

    }
  }

  .render-cart {

    .clear-cart-btn {
      background-color: transparent;
      border: none;
      color: #9b9999;
      cursor: pointer;
      letter-spacing: 1px;
      text-decoration: underline;
    }

    .clear-cart-btn:hover {
      color: black;
    }

    p.subtotal {
      margin: 1em 0 0 0;
      font-size: calc(1.2rem + .3vw);
    }
  }




.cart-item {
  padding: 2em 1em;
  border-bottom: 1px solid grey;

    &-header {
        @include unit-header
    }

    h4 {
      font-size: calc(1.2rem + .3vw);
    }

    p.price {
      margin: 0;
    }

}

.cart-button {
  position: fixed;
  right: 15px;
  bottom: 75px;
  width: 70px;
  height: 70px;
  background: $accent-color;
  border-radius: 50%;
  z-index: 1;

  @include flex(row);
}

