.checkout {
  overflow: auto;

  &-button {
    background: $accent-color;
    padding: 10px 20px;
    color: $background-color;
    border: none;
  }
}



.testHeader {
  display: flex;
  align-items: center;
  color: green;

  svg {
    margin-left: 5px;
  }
}






