.confirmation-delivery-container p {
    margin: 0;
  }
  
  .confirmation-container {
    h3 {
      font-family: $font-family-logo;
      letter-spacing: 2px;
      font-size: 1.75rem;
    }
  
    h4 {
      font-family: $font-family-logo;
      letter-spacing: 1px;
      margin-top: 1.5em;
      font-size: 1.25rem;
      display: flex;
      justify-content: space-between;
    }
  
    .confirmation-cart-container, 
    .confirm-address, 
    .confirm-pricing-container {
      margin: 1em;
    }

    .confirmation-cart-container {
  
      .checkout-cart-item {
        @include flex(row);
        justify-content: space-between;
  
        p {
          margin-bottom: 0;
          margin-top: .5em
        }
  
        ul {
          padding-left: .8em;
  
          li {
          list-style: none;
          font-size: 0.85rem;
        }
      }
      }
    }
  
    .confirm-pricing-container {
      .pricing-item {
        @include flex(row);
        justify-content: space-between;
        
  
        p {
          margin-bottom: .25em;
          font-size: 0.85rem;
        }
      }
    }
  
    .add-tip {
      @include flex(row);
      justify-content: space-around;
      border-radius: $br;
      margin: 1em auto;
      max-width: 400px;
  
      button {
        color: $background-color;
        margin: 0;
        width: 33%;
        font-weight: 700;
        border: none;
        border-right: 2px solid $background-color;
        text-align: center;
        padding: 1em;
        background-color: $dark-accent;
        @include transition-ease
      }
  
      & > :first-child {
        border-radius: $br 0 0 $br;
      }
  
      & > :last-child {
        border: none;
        border-radius: 0 $br $br 0;
      }
  
      &.twenty > button:nth-of-type(1),
      &.twentyfive > button:nth-of-type(2),
      &.thirty > button:nth-of-type(3) {
        background: $accent-color;
        color: $dark-accent;
        @include transition-ease
      }
  
    }
  }
  
  .confirmation-container {
    img {
      width: 100%;
      height: 30vh;
      object-fit: cover;
      margin-bottom: 2em;
    }
  }