* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

$background-color: #404040;
$menu-color:#2c2c2c;
$accent-color: #ccad59;
$font-color: rgb(240, 238, 238);

$font-family-logo: 'Bebas Neue', cursive;
$font-family-body: 'Roboto', sans-serif;

@mixin flex($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction
}

@mixin transition-ease {
    transition: all 500ms ease;
}