
.footer {
    min-height: 40vh;

    color: white;

    background: $background-color;
    background-image: url(../img/bw-restaurant.jpeg);
    background-position: center;
    background-blend-mode: multiply;
    background-repeat: none;
}