.footer {
  min-height: 30vh;

  color: $background-color;

  background: $dark-accent;
  background-image: url(../img/bw-restaurant.jpeg);
  background-position: center;
  background-blend-mode: multiply;
  background-repeat: none;

  &-container {
    display: flex;
    justify-content: space-between;
  }

  &-info {
    h4 {
        font-size: 1.2rem;
    }

    p {
        font-size: .75rem;
        margin:0;
    }

  }
}
