.footer {
  min-height: 15vh;

  color: $background-color;



  &-container {
    display: flex;
    justify-content: center;
    align-items: center;

    .footer-info {
      display:flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      
      a {
        margin: 0 1em;
      }
    }

  }
}
