header {
  @include flex(column);
  background-color: $dark-accent;
  max-height: 100px;

  .header-container {
    @include flex(row);
    justify-content: space-between;
    padding: .5em .75em;
    background: $dark-accent;
    width: 100%

  }

  img.logo-img {
    max-width: 60%;
    max-height: 80px;
  }

  .CTA-btn {
    background-color: $accent-color;
    color: $dark-accent;
    font-size: calc(1rem + .3vw);
    border: none;
    padding: .5em 1em;
    margin-right: .5em;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    font-family: $font-family-logo;
    @include transition-ease;

    &:hover {
      background: $background-color;
      @include transition-ease;
    }
  }
}

@media (min-width: 650px) {
  .CTA-btn {
    display:none;
  }
}
