header {
  @include flex(column);

  .header-container {
    @include flex(row);
    justify-content: space-between;
    padding: .5em .75em;
    background: $dark-accent;

  }

  img.logo-img {
    width: 60%;
  }

  .CTA-btn {
    background-color: $accent-color;
    color: $dark-accent;
    font-size: 1em;
    border: none;
    padding: 0.5em 1em;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    font-family: $font-family-logo;
    @include transition-ease;

    &:hover {
      background: $background-color;
      @include transition-ease;
    }
  }

  .scrolled {
    background-image: none;
  }
}
