
header {
    font-family: $font-family-logo;
    background: $dark-accent;
    background-image: url(../img/bw-restaurant.jpeg);
    background-position: center;
    background-blend-mode: multiply;
    background-repeat: none;
    height: 45vh;
    @include flex(column);

    .header-container {
        @include flex(column);
        align-items: flex-end;

    }

    img {
      width: 85%;
      margin: 0;
    }

    .CTA-btn {
        background-color: $accent-color;
        color: $dark-accent;
        font-size: 1.2em;
        border: none;
        padding: .7em 1.5em;
        margin-top: -2.5em;
        margin-right: 1.2em;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 2px;
        font-family: $font-family-logo;
        @include transition-ease;

        &:hover {
            background: $background-color;
            @include transition-ease;
    
        }

    }
  
    .scrolled {
      background-image: none;
    }
  }