

  button.CTA-banner-btn {
    text-decoration: none;
    background-color: $accent-color;
    text-align: center;
    padding: .6em 0;
    width: 100%;
    color: $dark-accent;
    font-family: $font-family-body;
    font-weight: 700;
    font-size: 1.1rem;
    // text-transform: uppercase;
    letter-spacing: 2.5px;
    border: none;
  }

