.home {

  .CTA-container {
    // position: relative;
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

   .btn-link {
     margin: 1.5em;
     width: 100%;
     display: flex;
     justify-content: center;
     text-decoration: none;
   }
    
    .CTA-btn {
      width: 75%;
      background-color: $accent-color;
      padding: .75em 0;
      border: none;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 1.5rem;
      letter-spacing: 3px;
      font-family: $font-family-logo;
      @include transition-ease;
      box-shadow: $bs;
      
    
      &:hover {
        background: lighten($accent-color, 10%);
        @include transition-ease;
      }

  }

  
  }
  
  .hero {
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    h2 {
      margin: 0;
      font-size: calc(4rem + 3vw);
      color: $background-color;
      text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
      font-weight: 400;
      padding: .5em;
    }
  }

}

@media (min-width: 500px) {
  .home {
    .CTA-btn {
      width: 40%;
    }
  }
}



