.popup {
    @include modal-background;
    
    @include flex(column);

    &-container {
        
        @include modal-container;
        
        background: white;
        color: black;
        border-radius: 7px;



        p{
            margin: 0;
        }

        .quantity-btn {
            background: $accent-color;
            width: 20px;
            border: none;
            border-radius: 50%
        }
      

        &-header {
            @include unit-header;
            align-items: flex-start;

            button {
                border: none;
                background: none;
                font-size: 1.3rem;
                margin: -10px -5px 0 0;
                color: grey;

            }
        }

    }
}