.popup {
    @include modal-background;
    
    @include flex(column);

    &-container {
        
        @include modal-container;
        
        background: white;
        color: black;
       
        &-content {
            @include modal-content;
        }

        span.required {
            color: rgb(170, 63, 63);
            font-size: 1rem;

            &.key {
                font-style: italic;
                padding-right: 1.5em;
            }
            
        }

        p.popup-price {
            font-weight: 700;
            font-size: 1.25rem;
        }

        p.popup-description {
            font-size: 1rem;
        }

        label {
            margin-left: 7px;
        }

        fieldset.rice-fieldset {
            margin-bottom: 1.5em;
        }
      

        &-header {
            @include unit-header;
            align-items: flex-start;

           
        }

        .quantity-btn {
            background: $accent-color;
            margin: 0 7px;
            width: 22px;
            border: none;
            border-radius: 50%;
        }

    }
}