.popup {
    @include modal-background;
    
    @include flex(column);

    &-container {
        
        @include modal-container;
        
        background: white;
        color: black;
       



        p{
            margin: 0;
        }

        .quantity-btn {
            background: $accent-color;
            width: 20px;
            border: none;
            border-radius: 50%
        }
      

        &-header {
            @include unit-header;
            align-items: flex-start;

           
        }

    }
}