@import "config";
@import "nav";
@import "carousel";
@import "header";
@import "about";
@import "order-online";
@import "popup";
@import "cart";
@import "footer";
@import "checkout";

body {
  font-family: $font-family-body;
  background: $background-color;
  color: $font-color;
  line-height: 1.5;
  overflow:auto;


}

.container {
  max-width: 800px;
  padding: 2em;
  margin: 0 auto;
  overflow:auto;
}

h2 {
  font-family: $font-family-logo;
  font-size: 3em;

  span {
      color: $accent-color
  }

}

.close-button {
  border: none;
  background: none;
  font-size: 1.3rem;
  margin: -10px -5px 0 0;
  color: grey;

}



.modal-button{
  padding: 10px 30px;

}
