@import "config";
@import "nav";
@import "carousel";
@import "header";
@import "about";
@import "order-online";
@import "popup";
@import "cart";
@import "footer";
@import "checkout";

body {
  font-family: $font-family-body;
  background: $background-color;
  color: $font-color;
  line-height: 1.5;
}

.container {
  max-width: 800px;
  padding: 2em;
  margin: 0 auto;
}

