* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.nav-container {
  width: 50px;
  height: 50px;
  margin-right: 1em;
}

nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 100%;
  height: 100%;
  width: 100%;
  background: #555555;
  opacity: 98%;
  transition: all 500ms ease;
  overflow: hidden;
  transform: translateX(0);
  z-index: 5;
}

nav ul {
  margin: 10em 1.5em 0 0;
  list-style-type: none;
  text-align: right;
}

nav ul li a {
  font-size: 4em;
  color: #404040;
  font-family: "Bebas Neue", cursive;
  text-decoration: none;
  position: relative;
}

nav ul li a:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 10px;
  background: #ccad59;
  bottom: 0;
  left: 0;
}

nav .nav-item {
  margin-top: 1.5em;
}

nav .nav-item a {
  color: #f9f9f9;
  transition: all 500ms ease;
}

nav .nav-item a:hover {
  color: #ccad59;
  transition: all 500ms ease;
}

nav.open {
  background: #1f1f1f;
  transform: translateX(-100%);
  transition: all 500ms ease;
}

button.nav-toggle {
  width: 100%;
  height: 100%;
  background-color: #1f1f1f;
  border-radius: 50%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 2000;
  transform: translateY(0px);
  transition: all 500ms ease;
}

button.nav-toggle.open {
  background-color: #ccad59;
  transform: translateY(20px) scale(1.2);
  transition: all 500ms ease;
}

button.nav-toggle.open .hamburger {
  background: transparent;
  transition: all 500ms ease;
}

button.nav-toggle.open .hamburger:before {
  transform: rotate(45deg) translate(8px, 8px);
  background: #f9f9f9;
  transition: all 500ms ease;
}

button.nav-toggle.open .hamburger:after {
  transform: rotate(135deg) translate(-4px, 5px);
  background: #f9f9f9;
  transition: all 500ms ease;
}

button.nav-toggle .hamburger {
  width: 37px;
  height: 4px;
  position: absolute;
  background: #ccad59;
}

button.nav-toggle .hamburger::before {
  content: "";
  width: 33px;
  height: 4px;
  left: 2px;
  top: -9px;
  position: absolute;
  background: #ccad59;
  transition: all 500ms ease;
}

button.nav-toggle .hamburger::after {
  content: "";
  width: 33px;
  height: 4px;
  left: 2px;
  top: 9px;
  position: absolute;
  background: #ccad59;
  transition: all 500ms ease;
}

@media (min-width: 600px) {
  nav {
    width: 33%;
    min-width: 350px;
  }
  nav ul li a {
    font-size: 3em;
  }
}

.carousel {
  width: 100%;
  margin: 2em 0;
}

.home img.d-block.w-100 {
  width: 100%;
  margin: 0 auto;
  height: 50vh;
  object-fit: cover;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #1f1f1f;
  max-height: 100px;
  position: sticky;
  z-index: 5;
  top: 0;
}

header .header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: .5em 1.75em;
  background: #1f1f1f;
  width: 100%;
  box-shadow: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25), 0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}

header img.logo-img {
  max-width: 100%;
  max-height: 80px;
}

@media (min-width: 650px) {
  header {
    position: sticky;
    z-index: 5;
    top: 0;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

section.about {
  width: 100%;
  background-color: #1f1f1f;
  transform: rotate(-4deg);
  transform: skewY(-4deg);
  color: #f9f9f9;
}

section.about .container {
  transform: skewY(4deg);
  padding-bottom: 1.5em;
}

section.about h2 {
  margin-bottom: 0.5em;
  margin-top: 1em;
}

section.hours-location {
  margin: 5em 0;
}

section.hours-location .about-details {
  margin: 1em auto;
  max-width: 800px;
  text-align: center;
}

section.hours-location .about-details h2 {
  margin-bottom: 0.25em;
  margin-top: 1em;
  font-size: 2em;
  letter-spacing: 2px;
}

section.hours-location .about-details h4 {
  font-size: 1.1em;
  font-weight: 700;
  margin: 0;
}

section.hours-location .about-details p {
  margin: 0;
}

section.hours-location .about-details-child {
  flex: 2 1 auto;
}

@media (min-width: 650px) {
  .about-details {
    margin: 1em;
    display: flex;
    justify-content: space-around;
  }
}

.order-container h3 {
  margin: 0;
  border-radius: 7px;
  font-size: 2.5rem;
}

.order-container .order-img {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: right;
  align-items: center;
}

.order-container .order-img h2.order-header {
  color: white;
  font-size: 5rem;
  margin-right: 1em;
}

.menu-section {
  display: grid;
  grid-gap: 0.5em;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  border-radius: 7px;
  margin-bottom: 2em;
  max-width: 100%;
}

.menu-item {
  border: 0.5px solid #1f1f1f;
  box-shadow: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25), 0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
  padding: 0.7em;
  background: #f9f9f9;
  max-width: 100%;
  transition: all 500ms ease;
}

.menu-item-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.menu-item-header p {
  font-weight: 700;
}

.menu-item h4 {
  font-size: 1rem;
  font-weight: 700;
}

.menu-item p {
  margin: 0;
  font-size: 0.75rem;
}

.menu-item:hover {
  background: #f0e7ce;
  transition: all 500ms ease;
  cursor: pointer;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.popup-container {
  position: relative;
  width: 85%;
  max-height: 70vh;
  max-width: 500px;
  overflow-y: auto;
  border-radius: 8px;
  background: white;
  color: black;
}

.popup-container::-webkit-scrollbar {
  background: #f9f9f9;
  border-radius: 0 8px 8px 0;
  width: .4em;
}

.popup-container::-webkit-scrollbar-thumb {
  background-color: #ccad59;
  border-radius: 8px;
}

.popup-container-content {
  padding: 1.5em;
}

.popup-container span.required {
  color: #aa3f3f;
  font-size: 1rem;
}

.popup-container span.required.key {
  font-style: italic;
  padding-right: 1.5em;
}

.popup-container p.popup-price {
  font-weight: 700;
  font-size: 1.25rem;
}

.popup-container p.popup-description {
  font-size: 1rem;
}

.popup-container label {
  margin-left: 7px;
  margin-top: 7px;
}

.popup-container fieldset.rice-fieldset {
  margin-bottom: 1.5em;
}

.popup-container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: flex-start;
}

.popup-container .quantity-btn {
  background: #ccad59;
  margin: 0 7px;
  width: 22px;
  border: none;
  border-radius: 50%;
  color: white;
}

.cart {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-container {
  position: relative;
  width: 85%;
  max-height: 70vh;
  max-width: 500px;
  overflow-y: auto;
  border-radius: 8px;
  max-width: 500px;
  max-height: 80vh;
  background: white;
  color: black;
}

.cart-container-content {
  padding: 1.5em;
}

.render-cart .clear-cart-btn {
  background-color: transparent;
  border: none;
  color: #9b9999;
  cursor: pointer;
  letter-spacing: 1px;
  text-decoration: underline;
}

.render-cart .cart-item {
  padding: 2em 1em;
  border-bottom: 1px solid grey;
}

.render-cart .cart-item-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.render-cart .cart-item h4 {
  font-size: calc(1.2rem + 0.3vw);
}

.render-cart .cart-item p.price {
  margin: 0;
}

.render-cart .clear-cart-btn:hover {
  color: black;
}

.render-cart p {
  margin: 1em 0 0 0;
  font-size: calc(0.85rem + 0.3vw);
}

.cart-button-container {
  position: fixed;
  bottom: 7rem;
  right: 10%;
  z-index: 40;
  transition: all 500ms ease;
  cursor: pointer;
}

.cart-button-container .cart-button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 70px;
  height: 70px;
  background: #ccad59;
  border-radius: 50%;
  box-shadow: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25), 0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}

.cart-button-container .cart-button:hover {
  background-color: #d8c080;
  transition: all 500ms ease;
}

.cart-button-container span.badge {
  box-shadow: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25), 0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
  position: absolute;
  bottom: 0;
  right: 0;
}

@media (min-width: 650px) {
  .cart-button-container {
    height: 70px;
    width: 70px;
    top: 20px;
    right: calc(50px + (15% - 4.3vw));
    z-index: 5;
  }
  .cart-button-container .cart-button {
    width: 60px;
    height: 60px;
  }
  .cart-button-container span.badge {
    bottom: 14px;
    right: 7px;
  }
}

.footer {
  background-color: #1f1f1f;
}

.footer-container {
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-container .footer-info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.footer-container .footer-info a {
  margin: 0 1em;
}

.checkout-button {
  background: #ccad59;
  padding: 10px 20px;
  color: #f9f9f9;
  border: none;
}

.checkout .container {
  min-height: 70vh;
}

.checkout .container aside {
  display: none;
}

.checkout .container h3 {
  font-family: "Bebas Neue", cursive;
  letter-spacing: 1px;
}

.checkout .container .form-group p.info,
.checkout .container .cc-container p.info {
  color: #aa3f3f;
  font-size: .75rem;
}

.checkout .container .form-group p.info.cc-info,
.checkout .container .cc-container p.info.cc-info {
  margin-top: -1em;
}

.checkout .container .form-group .card-data,
.checkout .container .cc-container .card-data {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: left;
}

.checkout .container .form-group .card-data select,
.checkout .container .cc-container .card-data select {
  border: none;
  background: #f9f9f9;
  color: #9b9999;
  border-bottom: solid 1px #9b9999;
  margin: 0 7px;
  padding-top: 9px;
}

.checkout .container .form-group .label-float,
.checkout .container .cc-container .label-float {
  transform: translateY(-1.7em);
  color: #9b9999;
  transition: all 500ms ease;
  text-align: left;
}

.checkout .container .form-group input,
.checkout .container .cc-container input {
  width: 95%;
  padding: 5px 0;
  position: relative;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #9b9999;
  margin-top: 1.2em;
  transition: all 500ms ease;
}

.checkout .container .form-group input:focus-visible,
.checkout .container .cc-container input:focus-visible {
  border: none;
  border-bottom: 1px solid #ccad59;
  width: 100%;
  outline: none;
  transition: all 500ms ease;
}

.checkout .container .form-group input:focus + .label-float,
.checkout .container .form-group input:not(:placeholder-shown) + .label-float,
.checkout .container .cc-container input:focus + .label-float,
.checkout .container .cc-container input:not(:placeholder-shown) + .label-float {
  transform: translateY(-3.5em) scale(0.75);
  transform-origin: left;
  letter-spacing: 2px;
  transition: all 500ms ease;
}

.checkout .container .form-group input:focus + .label-float span.required-asterisk,
.checkout .container .form-group input:not(:placeholder-shown) + .label-float span.required-asterisk,
.checkout .container .cc-container input:focus + .label-float span.required-asterisk,
.checkout .container .cc-container input:not(:placeholder-shown) + .label-float span.required-asterisk {
  opacity: 0%;
}

.checkout .container .form-group span.required-asterisk,
.checkout .container .cc-container span.required-asterisk {
  color: #aa3f3f;
  opacity: 100%;
}

@media (min-width: 650px) {
  .checkout .container .fullscreen-container {
    position: relative;
    height: auto;
    display: flex;
    justify-content: space-between;
  }
  .checkout .container .fullscreen-container form {
    width: 60%;
    overflow-y: scroll;
  }
  .checkout .container .fullscreen-container aside.sidebar {
    margin: 2em 0;
    display: block;
    position: sticky;
    height: auto;
    padding: 2em;
    width: 30%;
    min-width: 220px;
    right: 0;
    top: 25%;
    box-shadow: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25), 0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
    border: 1px solid #9b9999;
    border-radius: 8px;
    height: min-content;
  }
  .checkout .container .fullscreen-container aside.sidebar h3 {
    margin-bottom: 1em;
    font-size: calc(1.7rem + .6vw);
    color: #ccad59;
    text-shadow: 1px 1px 2px #2d2b2b;
  }
  .checkout .container .fullscreen-container aside.sidebar .subtotal-container {
    margin-top: 1em;
    display: flex;
    justify-content: space-between;
  }
  .checkout .container .fullscreen-container aside.sidebar .subtotal-container p.subtotal {
    font-weight: 700;
  }
  .checkout .container .fullscreen-container aside.sidebar .cart-item {
    margin-top: 1em;
    padding: none;
    display: grid;
    grid-template: repeat(2, auto)/repeat(2, auto);
    align-items: baseline;
    border-bottom: 0.75px solid #9b9999;
  }
  .checkout .container .fullscreen-container aside.sidebar .cart-item h4 {
    font-size: 1rem;
    grid-area: "h4";
    align-self: center;
  }
  .checkout .container .fullscreen-container aside.sidebar .cart-item p.price {
    grid-area: "p";
    margin: 0;
    text-align: right;
  }
  .checkout .container .fullscreen-container aside.sidebar .cart-item ul {
    margin-top: -1em;
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: -1;
  }
  .checkout .container .fullscreen-container aside.sidebar .cart-item svg path {
    display: none;
  }
}

.confirmation-delivery-container h5 {
  font-size: 1.25rem;
  margin-top: 1em;
  font-family: "Bebas Neue", cursive;
  letter-spacing: 1px;
}

.confirmation-delivery-container p {
  margin: 0;
  margin-left: .5em;
}

.item-details {
  display: flex;
  justify-content: space-between;
}

.confirm-flex-row {
  border-bottom: 1px solid #9b9999;
}

.confirmation-container h3 {
  font-family: "Bebas Neue", cursive;
  letter-spacing: 2px;
  font-size: 1.75rem;
}

.confirmation-container h4 {
  font-family: "Bebas Neue", cursive;
  letter-spacing: 1px;
  margin-top: 1.5em;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
}

.confirmation-container .confirmation-cart-container,
.confirmation-container .confirm-container,
.confirmation-container .confirm-pricing-container,
.confirmation-container .confirm-order-cart,
.confirmation-container .confirmation-delivery-container {
  margin: 1em;
}

.confirmation-container .confirm-order-cart h4 {
  margin-bottom: 1em;
}

.confirmation-container .confirm-order-cart .checkout-cart-item p {
  margin-bottom: 0;
  margin-top: 0.5em;
}

.confirmation-container .confirm-order-cart .checkout-cart-item ul {
  padding-left: 0.8em;
  list-style: none;
  font-size: 0.85rem;
}

.confirmation-container .confirm-pricing-container .pricing-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.confirmation-container .confirm-pricing-container .pricing-item p {
  margin-bottom: 0.25em;
  font-size: 0.85rem;
}

.confirmation-container .add-tip {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  border-radius: 8px;
  margin: 1em auto;
  max-width: 400px;
}

.confirmation-container .add-tip button {
  color: #f9f9f9;
  margin: 0;
  width: 33%;
  font-weight: 700;
  border: none;
  border-right: 2px solid #f9f9f9;
  text-align: center;
  padding: 1em;
  background-color: #1f1f1f;
  transition: all 500ms ease;
}

.confirmation-container .add-tip > :first-child {
  border-radius: 8px 0 0 8px;
}

.confirmation-container .add-tip > :last-child {
  border: none;
  border-radius: 0 8px 8px 0;
}

.confirmation-container .add-tip.twenty > button:nth-of-type(1),
.confirmation-container .add-tip.twentyfive > button:nth-of-type(2),
.confirmation-container .add-tip.thirty > button:nth-of-type(3) {
  background: #ccad59;
  color: #1f1f1f;
  transition: all 500ms ease;
}

.confirmation-container img {
  width: 100%;
  height: 30vh;
  object-fit: cover;
  margin-bottom: 2em;
}

@media (min-width: 650px) {
  .confirmation-flex {
    margin-top: 2em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    grid-gap: .75em;
  }
  .confirmation-flex .confirm-flex-row {
    border: 1px solid #9b9999;
    padding: 1em;
    border-radius: 8px;
    width: 100%;
    margin: 0;
  }
  .confirmation-flex .confirm-flex-row h4 {
    margin: 0;
  }
  .confirmation-flex p {
    font-size: 0.9rem;
  }
}

.accordion {
  box-shadow: none;
  border: none;
  transition: all 500ms ease;
}

.accordion-item {
  border: none;
  box-shadow: none;
  transition: all 500ms ease;
}

.accordion-item h3 {
  letter-spacing: 1px;
}

.accordion-collapse.collapse.show {
  border: none;
  transition: all 500ms ease;
}

.accordion-button.collapsed::after {
  color: #f9f9f9;
  transition: all 500ms ease;
  z-index: 0;
}

.accordion-button:not(.collapsed) {
  background: #f9f9f9;
  box-shadow: none;
  transition: all 500ms ease;
  z-index: 3;
}

.accordion-button {
  background: #f9f9f9;
  border: none;
  box-shadow: none;
  transition: all 500ms ease;
}

.accordion-button:focus {
  box-shadow: none;
}

.accordion-button h3 {
  color: #1f1f1f;
}

.accordion-body {
  background: #f9f9f9;
  border: none;
  box-shadow: none;
}

.home .hero {
  height: 90vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home .hero h1 {
  font-family: "Bebas Neue", cursive;
  margin: 0;
  font-size: calc(5rem + 5vw);
  color: #f9f9f9;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
  font-weight: 400;
  padding: .5em;
  text-align: center;
}

.home .CTA-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home .CTA-container .btn-link {
  margin: 1.5em;
  width: 100%;
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.home .CTA-container .CTA-btn {
  width: 60%;
  background-color: #ccad59;
  padding: .75em 0;
  border: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 3px;
  font-family: "Bebas Neue", cursive;
  transition: all 500ms ease;
  box-shadow: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25), 0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}

.home .CTA-container .CTA-btn:hover {
  background: #d8c080;
  transition: all 500ms ease;
}

@media (min-width: 650px) {
  .home .hero h2 {
    font-size: calc(6rem + 3vw);
  }
  .home .CTA-btn {
    width: 40%;
  }
}

.stepIndicator {
  width: 100%;
  margin: 2em 0;
  display: flex;
  align-items: center;
}

.stepIndicator hr {
  width: 400px;
  background: #161616;
  height: 2px;
  border-width: 0;
  margin: 0 0 3em 0;
}

.stepIndicator hr:last-of-type {
  display: none;
}

.progress-dots {
  padding: 1.5em 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.progress-dots::after {
  position: absolute;
  z-index: -1;
  transform: translate(5px, -17px);
  content: "";
  width: 100%;
  height: 3px;
  background-color: #9b9999;
}

.progress-dots .dot-and-description {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.progress-dots .dot-and-description p {
  font-size: 0.75em;
  color: #9b9999;
  letter-spacing: 1px;
}

.progress-dots .dot-and-description .progress-dot {
  width: 20px;
  height: 20px;
  background: #9b9999;
  border-radius: 50%;
}

.progress-dots.chk-cart .dot-cart {
  background-color: #ccad59;
}

div.dot-label {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: 65px;
}

div.dot-label a {
  width: 20px;
  height: 20px;
  background: #9b9999;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: default;
  user-select: none;
  position: relative;
  transition: all 500ms ease;
}

div.dot-label p {
  padding-top: 10px;
  text-transform: uppercase;
  color: #9b9999;
}

.stepIndicator .active {
  background: #ccad59;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2em;
}

.btn-container button {
  background: #ccad59;
  border: none;
  padding: 10px 25px;
  font-family: "Bebas Neue", cursive;
  font-size: 1.2rem;
  letter-spacing: 1px;
}

body {
  font-family: "Poppins", sans-serif;
  background: #f9f9f9;
  color: #404040;
  line-height: 1.5;
}

body::-webkit-scrollbar {
  background: #f9f9f9;
  border-radius: 0 8px 8px 0;
  width: 0.4em;
}

body::-webkit-scrollbar-thumb {
  background-color: #ccad59;
  border-radius: 8px;
}

section h2 {
  font-size: 4rem;
  letter-spacing: 1px;
}

button {
  color: #1f1f1f;
}

.container {
  max-width: 800px;
  min-height: 45vh;
  padding: 2.5em;
  margin: 0 auto;
  overflow-y: auto;
}

h2 {
  font-family: "Bebas Neue", cursive;
  font-size: 4em;
  color: #ccad59;
  text-shadow: 1px 1px 2px #2d2b2b;
}

h2 span {
  color: #ccad59;
}

h3.accent-header {
  font-family: "Bebas Neue", cursive;
  padding: none;
  margin: none;
  font-size: 2.5em;
  letter-spacing: 1px;
}

a {
  color: #ccad59;
}

.modal-button {
  width: 100%;
  padding: 0.5em 0;
  border: none;
  font-family: "Bebas Neue", cursive;
  font-size: 1.75em;
  letter-spacing: 1.5px;
  font-weight: 400;
  color: white;
  background: #ccad59;
  border-radius: 0 0 8px 8px;
  transition: all 500ms ease;
}

.modal-button:hover {
  background: #b99739;
  transition: all 500ms ease;
}

.modal-button:disabled {
  background-color: #9b9999;
}

.modal-footer-custom {
  display: flex;
  justify-content: space-between;
}

@media (min-width: 500) {
  body {
    margin-top: 150px;
  }
}

.page-img {
  width: 100%;
  height: 300px;
}
