* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

nav {
  position: fixed;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #555555;
  opacity: 98%;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  overflow: hidden;
  z-index: 3;
}

nav ul {
  margin: 1.5em 0 0 1.5em;
  list-style-type: none;
}

nav ul li a {
  font-size: 3em;
  color: #404040;
  text-decoration: none;
  margin-top: 1em;
}

nav .nav-item {
  margin-top: 1em;
}

nav .nav-item a {
  color: #f9f9f9;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

nav .nav-item a:hover {
  color: #ccad59;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

nav.open {
  background: #404040;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.menu {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  background: #555555;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  z-index: 99;
}

.menu.open {
  background: #404040;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.menu button.nav-toggle {
  position: absolute;
  width: 75px;
  height: 75px;
  background: #555555;
  border-radius: 50%;
  bottom: 20px;
  border: none;
  z-index: 200;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.menu button.nav-toggle.closed .hamburger,
.menu button.nav-toggle.closed .hamburger::before,
.menu button.nav-toggle.closed .hamburger::after {
  background: #ccad59;
}

.menu button.nav-toggle:hover .hamburger,
.menu button.nav-toggle:hover .hamburger::before,
.menu button.nav-toggle:hover .hamburger::after {
  background: #f9f9f9;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.menu button.nav-toggle.open {
  background: #ccad59;
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  z-index: 1000;
}

.menu button.nav-toggle.open .hamburger {
  background: transparent;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.menu button.nav-toggle.open .hamburger:before {
  -webkit-transform: rotate(45deg) translate(5px, 5px);
          transform: rotate(45deg) translate(5px, 5px);
  background: #f9f9f9;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.menu button.nav-toggle.open .hamburger:after {
  -webkit-transform: rotate(135deg) translate(-4px, 5px);
          transform: rotate(135deg) translate(-4px, 5px);
  background: #f9f9f9;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.menu button.nav-toggle .hamburger {
  position: inherit;
  background: #404040;
  width: 31px;
  height: 3px;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.menu button.nav-toggle .hamburger::before {
  content: "";
  position: inherit;
  top: -7px;
  left: 3px;
  background: #404040;
  width: 25px;
  height: 3px;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.menu button.nav-toggle .hamburger::after {
  content: "";
  position: inherit;
  top: 7px;
  left: 3px;
  background: #404040;
  width: 25px;
  height: 3px;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.home img.d-block.w-100 {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  height: 40vh;
  -o-object-fit: cover;
     object-fit: cover;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #404040;
}

header .header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: .5em .75em;
  background: #404040;
}

header img.logo-img {
  width: 60%;
}

header .CTA-btn {
  background-color: #ccad59;
  color: #404040;
  font-size: 1em;
  border: none;
  padding: 0.5em 1em;
  margin-right: .5em;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  font-family: "Bebas Neue", cursive;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

header .CTA-btn:hover {
  background: #f9f9f9;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

header .scrolled {
  background-image: none;
}

header h1 {
  font-family: "Bebas Neue", cursive;
  color: white;
  font-size: 8em;
}

header h1 span {
  color: #ccad59;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.about {
  padding: 1em;
  text-align: left;
}

.order-container h3 {
  margin: 0;
  border-radius: 7px;
}

.order-container img.order-img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  background-color: #404040;
  background-blend-mode: multiply;
}

.menu-section {
  display: -ms-grid;
  display: grid;
  grid-gap: 0.5em;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  border-radius: 7px;
  margin-bottom: 2em;
  max-width: 100%;
}

.menu-item {
  border: 0.5px solid #404040;
  padding: 0.7em;
  background: #f9f9f9;
  max-width: 100%;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.menu-item-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.menu-item-header p {
  font-weight: 700;
}

.menu-item h4 {
  font-size: 1rem;
  font-weight: 700;
}

.menu-item p {
  margin: 0;
  font-size: 0.75rem;
}

.menu-item:hover {
  background: white;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  cursor: pointer;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.popup-container {
  position: relative;
  margin-bottom: 2em;
  width: 85%;
  max-width: 500px;
  overflow: auto;
  border-radius: 8px;
  margin-top: 1em;
  background: white;
  color: black;
}

.popup-container-content {
  padding: 1.5em;
}

.popup-container span.required {
  color: #aa3f3f;
  font-size: 1rem;
}

.popup-container span.required.key {
  font-style: italic;
  padding-right: 1.5em;
}

.popup-container p.popup-price {
  font-weight: 700;
  font-size: 1.25rem;
}

.popup-container p.popup-description {
  font-size: 1rem;
}

.popup-container label {
  margin-left: 7px;
  margin-top: 7px;
}

.popup-container fieldset.rice-fieldset {
  margin-bottom: 1.5em;
}

.popup-container-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.popup-container .quantity-btn {
  background: #ccad59;
  margin: 0 7px;
  width: 22px;
  border: none;
  border-radius: 50%;
  color: white;
}

.cart {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cart-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart-container {
  position: relative;
  margin-bottom: 2em;
  width: 85%;
  max-width: 500px;
  overflow: auto;
  border-radius: 8px;
  margin-top: 1em;
  max-width: 500px;
  max-height: 80vh;
  background: white;
  color: black;
  overflow-y: auto;
}

.cart-container-content {
  padding: 1.5em;
}

.render-cart .clear-cart-btn {
  background-color: transparent;
  border: none;
  color: #9b9999;
  cursor: pointer;
  letter-spacing: 1px;
  text-decoration: underline;
}

.render-cart .clear-cart-btn:hover {
  color: black;
}

.render-cart p.subtotal {
  margin: 1em 0 0 0;
  font-size: calc(1.2rem + .3vw);
}

.cart-item {
  padding: 2em 1em;
  border-bottom: 1px solid grey;
}

.cart-item-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart-item h4 {
  font-size: calc(1.2rem + .3vw);
}

.cart-item p.price {
  margin: 0;
}

.cart-button {
  position: fixed;
  right: 15px;
  bottom: 75px;
  width: 70px;
  height: 70px;
  background: #ccad59;
  border-radius: 50%;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.footer {
  min-height: 20vh;
  color: #f9f9f9;
  background: #404040;
  background-image: url(../img/bw-restaurant.jpeg);
  background-position: center;
  background-blend-mode: multiply;
  background-repeat: none;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-info h4 {
  font-size: 1.7rem;
  font-family: "Bebas Neue", cursive;
  color: #ccad59;
}

.footer-info p {
  font-size: .75rem;
  margin: 0;
}

.footer-info:nth-child(2) {
  text-align: right;
}

.checkout {
  overflow: auto;
}

.checkout-button {
  background: #ccad59;
  padding: 10px 20px;
  color: #f9f9f9;
  border: none;
}

.progress-dots {
  padding: 1.5em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.progress-dots::after {
  position: absolute;
  z-index: -1;
  -webkit-transform: translate(5px, -17px);
          transform: translate(5px, -17px);
  content: "";
  width: 76%;
  height: 3px;
  background-color: #9B9999;
}

.progress-dots .dot-and-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.progress-dots .dot-and-description p {
  font-size: .75em;
  color: #9B9999;
  letter-spacing: 1px;
}

.progress-dots .dot-and-description .progress-dot {
  width: 20px;
  height: 20px;
  background: #9B9999;
  border-radius: 50%;
}

.progress-dots.chk-cart .dot-cart {
  background-color: #ccad59;
}

.checkout input[type="text"]:focus ~ label.test, .checkout input[type="text"]:valid ~ label.test {
  -webkit-transform: translateY(-1.75em) scale(0.75);
          transform: translateY(-1.75em) scale(0.75);
}

.checkout .test {
  -webkit-transform: translateY(1.75em);
          transform: translateY(1.75em);
  color: #9B9999;
}

.checkout .form-group, .checkout .cc-container {
  position: relative;
}

.checkout .form-group input, .checkout .cc-container input {
  width: 95%;
  padding: 5px 0;
  position: relative;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #9B9999;
  margin-top: 1.5em;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.checkout .form-group input:focus-visible, .checkout .cc-container input:focus-visible {
  border: none;
  border-bottom: 1px solid #ccad59;
  width: 100%;
  outline: none;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.checkout .form-group .cc-container svg path, .checkout .cc-container .cc-container svg path {
  margin-right: 5px;
}

.confirmation-delivery-container p {
  margin: 0;
}

.accordion {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.accordion-item {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.accordion-item h3 {
  letter-spacing: 1px;
}

.accordion-collapse.collapse.show {
  border: none;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.accordion-button.collapsed::after {
  color: #f9f9f9;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.accordion-button:not(.collapsed) {
  background: #f9f9f9;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.accordion-button {
  background: #f9f9f9;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.accordion-button:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.accordion-button h3 {
  color: #404040;
}

.accordion-body {
  background: #f9f9f9;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

button.CTA-banner-btn {
  text-decoration: none;
  background-color: #ccad59;
  text-align: center;
  padding: .6em 0;
  width: 100%;
  color: #404040;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 1.1rem;
  letter-spacing: 2.5px;
  border: none;
}

.stepIndicator {
  width: 100%;
  margin: 2em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.stepIndicator hr {
  width: 400px;
  background: #161616;
  height: 2px;
  border-width: 0;
  margin: 0 0 3em 0;
}

.stepIndicator hr:last-of-type {
  display: none;
}

.btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 2em;
}

.btn-container button {
  background: #ccad59;
  border: none;
  padding: 10px 25px;
}

div.dot-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 65px;
}

div.dot-label a {
  width: 20px;
  height: 20px;
  background: #9b9999;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

div.dot-label p {
  padding-top: 10px;
  text-transform: uppercase;
  color: #9b9999;
}

.stepIndicator .active {
  background: #ccad59;
}

body {
  font-family: "Poppins", sans-serif;
  background: #f9f9f9;
  color: #404040;
  line-height: 1.5;
  overflow: auto;
}

.container {
  max-width: 800px;
  min-height: 25vh;
  padding: 2em;
  margin: 0 auto;
  overflow: auto;
}

h2 {
  font-family: "Bebas Neue", cursive;
  font-size: 3em;
  color: #ccad59;
  text-shadow: 1px 1px 2px #cecece;
}

h2 span {
  color: #ccad59;
}

h3.accent-header {
  font-family: "Bebas Neue", cursive;
  padding: none;
  margin: none;
  font-size: 2.5em;
  letter-spacing: 1px;
}

.modal-button {
  width: 100%;
  padding: .5em 0;
  border: none;
  font-family: "Bebas Neue", cursive;
  font-size: 1.75em;
  letter-spacing: 1.5px;
  font-weight: 400;
  color: white;
  background: #ccad59;
  border-radius: 0 0 8px 8px;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.modal-button:hover {
  background: #b99739;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.modal-button:disabled {
  background-color: #9B9999;
}

.modal-footer-custom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
/*# sourceMappingURL=main.css.map */