* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

nav {
  position: fixed;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #2c2c2c;
  opacity: 98%;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  overflow: hidden;
  z-index: 1000;
}

nav ul {
  margin: 1.5em 0 0 1.5em;
  list-style-type: none;
}

nav ul li a {
  font-size: 3em;
  color: #f0eeee;
  text-decoration: none;
  margin-top: 1em;
}

nav .nav-item {
  margin-top: 1em;
}

nav.open {
  background: #404040;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.menu {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  background: #2c2c2c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  z-index: 99;
}

.menu.open {
  background: #404040;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.menu button.nav-toggle {
  position: absolute;
  width: 75px;
  height: 75px;
  background: #2c2c2c;
  border-radius: 50%;
  bottom: 20px;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.menu button.nav-toggle:hover .hamburger,
.menu button.nav-toggle:hover .hamburger::before,
.menu button.nav-toggle:hover .hamburger::after {
  background: #ccad59;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.menu button.nav-toggle.open {
  background: rgba(240, 238, 238, 0.8);
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.menu button.nav-toggle.open .hamburger {
  background: transparent;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.menu button.nav-toggle.open .hamburger:before {
  -webkit-transform: rotate(45deg) translate(5px, 5px);
          transform: rotate(45deg) translate(5px, 5px);
  background: #404040;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.menu button.nav-toggle.open .hamburger:after {
  -webkit-transform: rotate(135deg) translate(-4px, 5px);
          transform: rotate(135deg) translate(-4px, 5px);
  background: #404040;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.menu button.nav-toggle .hamburger {
  position: inherit;
  background: #f0eeee;
  width: 31px;
  height: 3px;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.menu button.nav-toggle .hamburger::before {
  content: "";
  position: inherit;
  top: -7px;
  left: 3px;
  background: #f0eeee;
  width: 25px;
  height: 3px;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.menu button.nav-toggle .hamburger::after {
  content: "";
  position: inherit;
  top: 7px;
  left: 3px;
  background: #f0eeee;
  width: 25px;
  height: 3px;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.carousel {
  height: 50vh;
  width: 100%;
}

.carousel-item {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

header {
  font-family: "Bebas Neue", cursive;
  background: #404040;
  background-image: url(../img/bw-restaurant.jpeg);
  background-position: center;
  background-blend-mode: multiply;
  background-repeat: none;
  height: 45vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header .header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

header img {
  width: 85%;
  margin: 0;
}

header .CTA-btn {
  background-color: #ccad59;
  color: #404040;
  font-size: 1.2em;
  border: none;
  padding: .7em 1.5em;
  margin-top: -2.5em;
  margin-right: 1.2em;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  font-family: "Bebas Neue", cursive;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

header .CTA-btn:hover {
  background: white;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

header .scrolled {
  background-image: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.about {
  padding: 1em;
  text-align: left;
}

.order-container h3 {
  margin: 0;
  border: solid 1px white;
  padding: .5em;
  border-radius: 7px;
}

.menu-section {
  display: -ms-grid;
  display: grid;
  grid-gap: .5em;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  border-radius: 7px;
  margin-bottom: 2em;
  max-width: 100%;
}

.menu-item {
  border-radius: 7px;
  padding: .7em;
  background: #404040;
  max-width: 100%;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.menu-item-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.menu-item-header p {
  font-weight: 700;
}

.menu-item h4 {
  font-size: 1rem;
  font-weight: 700;
}

.menu-item p {
  margin: 0;
  font-size: .75rem;
}

.menu-item:hover {
  background: #5a5a5a;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  cursor: pointer;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.popup-container {
  position: relative;
  padding: 1.5em;
  margin-bottom: 2em;
  width: 85%;
  max-width: 500px;
  overflow: auto;
  background: white;
  color: black;
  border-radius: 7px;
}

.popup-container p {
  margin: 0;
}

.popup-container .quantity-btn {
  background: #ccad59;
  width: 20px;
  border: none;
  border-radius: 50%;
}

.popup-container-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.popup-container-header button {
  border: none;
  background: none;
  font-size: 1.3rem;
  margin: -10px -5px 0 0;
  color: grey;
}

.cart {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cart-container {
  position: relative;
  padding: 1.5em;
  margin-bottom: 2em;
  width: 85%;
  max-width: 500px;
  overflow: auto;
  padding: 32px;
  max-width: 500px;
  max-height: 80vh;
  background: white;
  color: black;
  overflow-y: auto;
}

.cart-item {
  border: 1px solid black;
  padding: 1em;
  margin-bottom: 1em;
}

.cart-item-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart-button {
  position: fixed;
  right: 15px;
  bottom: 75px;
  width: 70px;
  height: 70px;
  background: #ccad59;
  border-radius: 50%;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.footer {
  min-height: 40vh;
  color: white;
  background: #404040;
  background-image: url(../img/bw-restaurant.jpeg);
  background-position: center;
  background-blend-mode: multiply;
  background-repeat: none;
}

.checkout {
  overflow: auto;
}

body {
  font-family: "Roboto", sans-serif;
  background: #404040;
  color: #f0eeee;
  line-height: 1.5;
  overflow: auto;
}

.container {
  max-width: 800px;
  padding: 2em;
  margin: 0 auto;
  overflow: auto;
}

h2 {
  font-family: "Bebas Neue", cursive;
  font-size: 3em;
}

h2 span {
  color: #ccad59;
}
/*# sourceMappingURL=main.css.map */