* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

nav {
  position: fixed;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #2c2c2c;
  opacity: 98%;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  overflow: hidden;
}

nav ul {
  margin: 1.5em 0 0 1.5em;
  list-style-type: none;
}

nav ul li a {
  font-size: 3em;
  color: #f0eeee;
  text-decoration: none;
  margin-top: 1em;
}

nav .nav-item {
  margin-top: 1em;
}

nav.open {
  background: #404040;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.menu {
  position: fixed;
  bottom: 0;
  z-index: 10;
  width: 100%;
  height: 60px;
  background: #2c2c2c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.menu.open {
  background: #404040;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.menu button.nav-toggle {
  position: absolute;
  width: 75px;
  height: 75px;
  background: #2c2c2c;
  border-radius: 50%;
  bottom: 20px;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.menu button.nav-toggle:hover .hamburger,
.menu button.nav-toggle:hover .hamburger::before,
.menu button.nav-toggle:hover .hamburger::after {
  background: #ccad59;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.menu button.nav-toggle.open {
  background: rgba(240, 238, 238, 0.8);
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.menu button.nav-toggle.open .hamburger {
  background: transparent;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.menu button.nav-toggle.open .hamburger:before {
  -webkit-transform: rotate(45deg) translate(5px, 5px);
          transform: rotate(45deg) translate(5px, 5px);
  background: #404040;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.menu button.nav-toggle.open .hamburger:after {
  -webkit-transform: rotate(135deg) translate(-4px, 5px);
          transform: rotate(135deg) translate(-4px, 5px);
  background: #404040;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.menu button.nav-toggle .hamburger {
  position: inherit;
  background: #f0eeee;
  width: 31px;
  height: 3px;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.menu button.nav-toggle .hamburger::before {
  content: "";
  position: inherit;
  top: -7px;
  left: 3px;
  background: #f0eeee;
  width: 25px;
  height: 3px;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.menu button.nav-toggle .hamburger::after {
  content: "";
  position: inherit;
  top: 7px;
  left: 3px;
  background: #f0eeee;
  width: 25px;
  height: 3px;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.carousel {
  height: 50vh;
  width: 100%;
}

.carousel-item {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  font-family: "Bebas Neue", cursive;
  background: #404040;
  background-image: url(../img/bw-restaurant.jpeg);
  background-position: center;
  background-blend-mode: multiply;
  background-repeat: none;
  height: 45vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header .header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

header img {
  width: 85%;
  margin: 0;
}

header .CTA-btn {
  background-color: #ccad59;
  color: #404040;
  font-size: 1.2em;
  border: none;
  padding: .7em 1.5em;
  margin-top: -2.5em;
  margin-right: 1.2em;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  font-family: "Bebas Neue", cursive;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

header .CTA-btn:hover {
  background: white;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

header .scrolled {
  background-image: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1em;
}

.about h2 {
  font-family: "Bebas Neue", cursive;
  font-size: 2em;
  margin-bottom: .5em;
}

.about h2 span {
  color: #ccad59;
}

body {
  font-family: "Roboto", sans-serif;
  background: #404040;
  color: #f0eeee;
  line-height: 1.5;
}

.container {
  width: 90%;
  margin: 0 auto;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section.inverse {
  background: #404040;
  color: #fff;
}
/*# sourceMappingURL=main.css.map */