@import "config";

section.about {
  width: 100%;

  background-color: $dark-accent;
  transform: rotate(-4deg);
  transform: skewY(-4deg);

  color: $background-color;

  .container {
    transform: skewY(4deg);
    padding-bottom: 1.5em;
  }

  h2 {
    margin-bottom: 0.5em;
    margin-top: 1em;
  }
}

section.hours-location {
  margin: 5em 0;

  .about-details {
    margin: 1em auto;
    max-width: 800px;
    text-align: center;

    h2 {
      margin-bottom: 0.25em;
      margin-top: 1em;
      font-size: 2em;
      letter-spacing: 2px;
    }

    h4 {
      font-size: 1.1em;
      font-weight: 700;
      margin: 0;
    }

    p {
      margin: 0;
    }

    &-child {
      flex: 2 1 auto;
    }
  }
}

@media (min-width: 650px) {
  .about-details {
    margin: 1em;
    display: flex;
    justify-content: space-around;
  }
}
