header {
  @include flex(column);
  background-color: $dark-accent;
  max-height: 100px;
  position: sticky;
  z-index: 5;
  top: 0;

  .header-container {
    @include flex(row);
    justify-content: space-between;
    padding: .5em 1.75em;
    background: $dark-accent;
    width: 100%;
    box-shadow: $bs;

  }

  img.logo-img {
    max-width: 100%;
    max-height: 80px;
  }

 
}

@media (min-width: 650px) {

  header {
    position: sticky;
    z-index: 5;
    top: 0;

  }
}
