.order-container {

  // min-height: 50vh;
  
  


  h3 {
    margin: 0;
    border-radius: 7px;
   font-size: 2.5rem;
  }

  .order-img {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: right;
    align-items: center;

    h2.order-header {
      color: white;
      font-size: 5rem;
      margin-right: 1em;
    }
    
  }
}
.menu-section {
  display: grid;
  grid-gap: 0.5em;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  border-radius: 7px;
  margin-bottom: 2em;
  max-width: 100%;
}


.menu-item {
  // border-radius: 7px;
  border: .5px solid $dark-accent;
  box-shadow: $bs;
  padding: 0.7em;
  background: $background-color;
  max-width: 100%;

  @include transition-ease;

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    p {
      font-weight: 700;
    }
  }

  h4 {
    font-size: 1rem;
    font-weight: 700;
  }

  p {
    margin: 0;
    font-size: 0.75rem;
  }

  &:hover {
    background: lighten($accent-color, 30%);
    @include transition-ease;
    cursor: pointer;
  }
}
